{% extends 'presentacion.html' %} <!-- Se va a heredar de la plantilla presentacion-->
{% block title %} Contacto {% endblock %}

{% block contacto %}
<!-- contacto -->
    <nav class="nav_visualizar_titulo" >
        <h1 class="nav__title">
            CONTÁCTANOS <br>
            Correo: soporte.sum@unmsm.edu.pe <br>
            Central telefónica: (01) 619-7000 
        </h1>
    </nav>
    <nav class="nav_categoria">     
        <nav class="box_contacto">
            <span>JEFATURA</span><br>
            <span>Nilo Eloy Carrasco Oré</span><br>
            <span>Anexo: 7470</span>
        </nav>
        <nav class="box_contacto">
            <span>UNIDAD DE SECRETARIA Y ARCHIVO</span><br>
            <span>Carol Canales Huapaya</span><br>
            <span>Anexo: 7471</span>
        </nav>
        <nav class="box_contacto">
            <span>UNIDAD DE INFORMÁTICA</span><br>
            <span>Sara Cañari de la Cruz</span><br>
            <span>Anexo: 7472</span>
        </nav>
        <nav class="box_contacto">
            <span>UNIDAD DE PRODUCCIÓN Y SOPORTE</span><br>
            <span>Juan Carlos Jo Luza</span><br>
            <span>Anexo: 7473</span>
        </nav>
        <nav class="box_contacto">
            <span>UNIDAD DE TRÁMITE DOCUMENTARIO</span><br>
            <span>Anexo: 7906</span>
        </nav>
    </nav>
{% endblock %}
