{% extends 'presentacion.html' %} <!-- Se va a heredar de la plantilla presentacion-->
{% block title %} Enlaces Externos {% endblock %}

{% block enlaces_externos %}
<!-- enlaces_externos -->
    <nav class="nav_visualizar_titulo" >
        <h1 class="nav__title">
            Enlaces externos
        </h1>
    </nav>
    <nav class="nav_categoria">     

        <ul class="nav_visualizar_datos">
                <span><br>
                    🏠 Pagina oficial de la UNMSM: <a href="https://www.unmsm.edu.pe/" target="_blank">UNMSM</a><br><br>
                    👤 Portal oficial de posgrado: <a href="https://posgrado.unmsm.edu.pe/" target="_blank">PORTAL POSGRADO</a><br><br>
                    ✉️ Correo Electronico: <a href="https://webmail.unmsm.edu.pe/" target="_blank">CORREO</a><br><br>
                    🌐 Direccion: <a href="https://vicus.unmsm.edu.pe/" target="_blank">DIRECTORIO</a><br><br>
                    🔍 OCAD: <a href="https://admision.unmsm.edu.pe/portal/" target="_blank">OFICINA DE ADMISION</a><br><br>

                </span>
        </ul>
    </nav>
{% endblock %}
