{% extends 'presentacion.html' %} <!-- Se va a heredar de la plantilla presentacion-->
{% block title %} Quienes Somos {% endblock %}

{% block quienes_somos %}
<!--Quienes Somos -->
    <nav class="nav_visualizar_titulo" >
        <h1 class="nav__title">
            ¿QUÉ ES EL SUM?
        </h1>
    </nav>
    <nav class="nav_categoria">     
        <ul class="nav_visualizar_datos">
            <h1> El Sistema Único de Matrícula (SUM)  </h1>
                <span> Es una oficina que pertenece a la Dirección General de Servicios Universitarios, y depende del Rectorado, su función esta descentralizada en las facultades.</span>
                <span> En cada Facultad, el SUM tiene como responsable académico-administrativo al Decano y como responsables funcionales al Vicedecano Académico y al Vicedecano de Investigación y Posgrado. </span>
                <span> La comisión de reorganización en sesión N. 179 del 5 de Marzo de 1999 y por Resolución Rectoral N. 01480-CR-99, aprueba la puesta en marcha del SISTEMA ÚNICO DE MATRÍCULA DE LA UNIVERSIDAD NACIONAL DE SAN MARCOS. El 17 de marzo de 1999 se conforma un equipo responsable de la implementación del Sistema Único de Matrícula, presidido por el licenciado Isaac Canales Quevedo, quien con apoyo de la Red Telemática fue encargado de implementar de equipos, muebles y todo lo necesario. </span>
                <span> El SUM funcionó inicialmente en tres ambientes de la Oficina General de Bienestar Universitario, se instaló aquí el servidor principal, la oficina administrativa de capacitación y de coordinación del proyecto del Sistema de Matrícula. El 19 de Agosto de 1999 por R.R. N. 05383-CR-99, se aprueba el Reglamento General de Matrícula de la Universidad, instrumento normativo de los procesos de matrícula que inicia en el año 2000. </span>
                
            <h1> El Sistema Único de Matrícula es importante porque: </h1>
                <span>· Permite que el proceso de matrícula en la Universidad sea más eficaz, ordenado y técnico.</span>
                <span>· Permite centralizar la información sobre matrícula, dándole la seguridad necesaria y evitar su manipulación.</span>
                <span>· Permite proporcionar a las Facultades y los órganos de gobierno de la Universidad, información veraz y oportuna.</span>
        </ul>
    </nav>
{% endblock %}
