<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sistema Único de Matrícula - Inicio de Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel='stylesheet' href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css'> <!-- Icono de ojito ocultar contraseña-->
</head>
<body>

    <!-- Fondo de portada -->
    <div class="fondo"> 
        <!--Volver-->
        <nav class="volver">
            <a href="{{ url_for('index') }}" class="btn_volver">← Volver</a>
        </nav>

        <!-- Formulario de Inicio de Sesión -->
        <nav class="nav_inicio_seccion">
            <form action="" method="post">

                <h1 class="nav__title">Intranet Alumno</h1>

                <img src="{{ url_for('static', filename='img/logo_sum.png') }}" class="nav__logo">
                    
                <label for="username">Usuario:</label>
                <input type="text" name="username" id="username">

                <label for="password">Contraseña:</label>
                <div class="ojito">
                    <input type="password" name="contrasena" id="contrasena">
                    <i class='bx bx-eye' id="togglePassword"></i>
                </div>

                <input type="submit" value="Iniciar Sesión" class="btn_iniciar">

            </form>
        </nav>

    </div>

    <script src="{{ url_for('static', filename='js/ojito.js')}}"></script>
</body>
</html>
